body,
html, #elm-app, #elm-root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    box-sizing: border-box;
}

header {
    background-color: rgb(13, 122, 194);
    border-bottom: 1px solid rgb(15, 99, 155);
    padding: 12px;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 300;
}

header img {
    height: 30px;
    margin: -10px;
}

header .header-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

header .header-menu-item {
    cursor: pointer;
    height: 20px;
}

header .header-menu-item svg {
    height: 100%;
}

header .header-menu-item:hover svg {
    color: blue;
}


header .header-menu-item+.header-menu-item {
    margin-left: 16px;
}

.content-wrapper {
    display: flex;
    flex: 1 0 auto;
}

.side {
    display: flex;
    height: 100%;
    background: rgb(223, 232, 238);
}

.panel-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56px;
    z-index: 2;
    height: 100%;
    color: white;
    background: rgb(13, 122, 194);
}

.tabs {
    display: flex;
    flex-direction: column;
}

.build-info {
    width: calc(100% - 8px);
    font-size: 0.6em;
    color: rgb(114, 176, 218);
    margin: 4px;
    padding: 0;
}

.tab-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8px 4px;
    cursor: pointer;
}

.tab-item p {
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 0.7em;
}

.tab-item svg {
    height: 24px;
}

.tab-item:hover, .tab-item.active {
    background-color: rgb(14, 107, 168);
}

.tab-item:focus,
.tab-item:active {
    background-color: rgb(13, 95, 150);
}

.tab-item+.tab-item {
    border-top: 1px solid rgb(14, 107, 168);
}

.panel {
    z-index: 1;
    width: 224px;
    padding: 12px;
    background: hsl(210, 70%, 98%);
    border-right: 1px solid rgb(201, 211, 218);
}

.panel .panel-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 213, 218);
    padding: 0 0 8px;
    margin: 0 0 12px;
    align-items: center;
}

.panel h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.2em;
}

.panel__secondary {
    z-index: 0;
    box-shadow: 0px 0px 2px rgba(0, 20, 34, 0.315);
}

.workspace {
    flex: 1 1 auto;
}

.viewport-label {
    position: absolute;
    left: 20px;
    font-size: 0.9em;
    padding: 8px 12px;
    color: hsl(210, 20%, 20%);
    background-color: hsl(210, 20%, 80%);
    border-radius: 8px;
}

#three-wrapper {
    /* Position relative because the canvas needs to be absolutely positionned to allow the wrapper to resize */
    position: relative;
    height: 100%;
    width: 100%;
    /* overflow hidden to prevent scollbars from entraving resizing */
    overflow: hidden;
}