body,
html, #elm-app, #elm-root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
#elm-root {
    display: flex;
    flex-direction: column;
 }
* {
    box-sizing: border-box;
}

header {
    background-color: hsl(222, 100%, 34%);
    border-bottom: 1px solid hsl(222, 100%, 14%);
    padding: 12px;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}


header img {
    height: 30px;
    margin: -10px 10px -10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 300;

}

header .header-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

header .header-menu-item {
    cursor: pointer;
    height: 20px;
}

header .header-menu-item svg {
    height: 100%;
}

header .header-menu-item:hover svg {
    color: hsl(222, 100%, 74%);
}


header .header-menu-item+.header-menu-item {
    margin-left: 16px;
}

.content-wrapper {
    display: flex;
    min-height: 0px;
    height: 100%;
}

.side {
    display: flex;
    height: 100%;
}

.panel-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56px;
    z-index: 2;
    height: 100%;
    color: white;
    background: hsl(222, 100%, 34%);
}

.tabs {
    display: flex;
    flex-direction: column;
}

.build-info {
    width: calc(100% - 8px);
    font-size: 0.6em;
    color: rgb(122, 130, 236);
    margin: 4px;
    padding: 0;
}

.tab-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8px 4px;
    cursor: pointer;
}

.tab-item p {
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 0.7em;
}

.tab-item svg {
    height: 24px;
}

.tab-item:hover, .tab-item.active {
    background-color: hsl(222, 100%, 24%);
}
.tab-item:hover {
    color: hsl(222, 100%, 74%);
}

.tab-item:focus,
.tab-item:active {
    background-color: hsl(222, 100%, 20%);
}


.panel {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 224px;
    padding: 12px;
    background-color: hsl(222, 53%, 95%);
    border-right: 1px solid rgb(201, 211, 218);
}

.panel .panel-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 213, 218);
    padding: 0 0 8px;
    margin: 0 0 12px;
    align-items: center;
}

.panel h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.2em;
}

.panel__secondary {
    z-index: 0;
    box-shadow: 0px 0px 2px rgba(0, 20, 34, 0.315);
}

.workspace {
    flex: 1 1 auto;
}

.viewport-label {
    position: absolute;
    left: 20px;
    font-size: 0.9em;
    padding: 8px 12px;
    color: hsl(222, 20%, 20%);
    background-color: hsl(222, 20%, 80%);
    border-radius: 8px;
}

#three-wrapper {
    /* Position relative because the canvas needs to be absolutely positionned to allow the wrapper to resize */
    position: relative;
    height: 100%;
    width: 100%;
    /* overflow hidden to prevent scollbars from entraving resizing */
    overflow: hidden;
}

ul.blocks {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 4px -12px -12px -12px;
    padding: 0 12px 12px;
}

li.block-item, .add-block {
    background-color: white;
    margin: 8px 0;
    box-shadow: 0px 4px 8px hsla(222, 20%, 20%, 6%);
    border-radius: 8px;
    display: flex;
}

li.block-item .block-info-wrapper {
    padding: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: calc(100% - 28px);
    cursor: pointer;
}

li.block-item .block-info-wrapper:hover {
    background: hsl(222, 53%, 98%);
}

li.block-item p {
    margin: 4px 0;
}

li.block-item p.block-uuid {
    font-size: 0.65em;
    color: hsl(222, 20%, 60%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.block-item .block-actions {
    display: flex;
    flex-direction: column;
    width: 28px;
}

li.block-item .block-action {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

li.block-item .block-action:first-child {
    border-top-right-radius: 8px;
}

li.block-item .block-action:last-child {
    border-bottom-right-radius: 8px;
}

li.block-item .focus-block {
    background-color: hsl(222, 100%, 34%);
    color: white;
}

li.block-item .focus-block:hover {
    background: hsl(222, 100%, 24%);
}


li.block-item .delete-block {
    background-color: red;
    color: white;
}

li.block-item .delete-block:hover {
    background: hsl(0, 100%, 37%);
}


li.block-item .block-action svg {
    height: 16px;
}

li.block-item__selected {
    border-left: 4px solid hsl(222, 100%, 34%);
}

.add-block {
    background-color: hsl(222, 53%, 98%);
    border: 1px dashed hsl(222, 20%, 60%);
    box-shadow: none;
    padding: 16px 8px;
}

input.block-label {
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(222, 20%, 85%);
    background-color: transparent;
}