#elm-root {
    --primary-color: hsl(222, 100%, 34%);
    --primary-color__accent: hsl(222, 100%, 24%);
    --primary-color__contrast: hsl(222, 100%, 20%);

    --on-primary-color: white;
    --on-primary-color__accent: hsl(222, 100%, 74%);
    --on-primary-color__muted: hsl(222, 55%, 70%);

    --secondary-color: hsl(222, 53%, 95%);
    --secondary-color__accent: white;
    --secondary-color__contrast: hsl(222, 20%, 82%);

    --on-secondary-color: black;
    --on-secondary-color__accent: hsl(222, 20%, 20%);
    --on-secondary-color__muted: hsl(222, 20%, 60%);

    --shadow-color: hsla(205, 100%, 7%, 0.315)
}

body,
html, #elm-app, #elm-root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
#elm-root {
    display: flex;
    flex-direction: column;
 }
* {
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color__contrast);
    padding: 12px;
    color: var(--on-primary-color);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}


header img {
    height: 30px;
    margin: -10px 10px -10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 300;

}

header .header-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

header .header-menu-item {
    cursor: pointer;
    height: 20px;
}

header .header-menu-item a {
    color: var(--on-primary-color);
}

header .header-menu-item label {
    cursor: pointer;
}

header .header-menu-item svg {
    height: 100%;
}

header .header-menu-item:hover svg {
    color: var(--on-primary-color__accent);
}


header .header-menu-item+.header-menu-item {
    margin-left: 16px;
}

.content-wrapper {
    display: flex;
    min-height: 0px;
    height: 100%;
}

.side {
    display: flex;
    height: 100%;
}

.panel-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56px;
    z-index: 2;
    height: 100%;
    color: var(--on-primary-color);
    background: var(--primary-color);
}

.tabs {
    display: flex;
    flex-direction: column;
}

.build-info {
    width: calc(100% - 8px);
    font-size: 0.6em;
    color: var(--on-primary-color__muted);
    margin: 4px;
    padding: 0;
}

.tab-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8px 4px;
    cursor: pointer;
}

.tab-item p {
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 0.7em;
}

.tab-item svg {
    height: 24px;
}

.tab-item:hover, .tab-item.active {
    background-color: var(--primary-color__accent);
}
.tab-item:hover {
    color: var(--on-primary-color__accent);
}

.tab-item:focus,
.tab-item:active {
    background-color: var(--primary-color__contrast);
}


.panel {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 224px;
    padding: 12px;
    background-color: var(--secondary-color);
    border-right: 1px solid var(--secondary-color__contrast);
    color: var(--on-secondary-color);
}

.panel .panel-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color__contrast);
    padding: 0 0 8px;
    margin: 0 0 12px;
    align-items: center;
}

.panel h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.2em;
}

.panel__secondary {
    z-index: 0;
    box-shadow: 0px 0px 2px var(--shadow-color);
}

.workspace {
    flex: 1 1 auto;
}

.viewport-label {
    position: absolute;
    left: 20px;
    font-size: 0.9em;
    padding: 8px 12px;
    color: var(--on-secondary-color__accent);
    background-color: var(--secondary-color__contrast);
    border-radius: 8px;
}

#three-wrapper {
    /* Position relative because the canvas needs to be absolutely positionned to allow the wrapper to resize */
    position: relative;
    height: 100%;
    width: 100%;
    /* overflow hidden to prevent scollbars from entraving resizing */
    overflow: hidden;
}

ul.blocks, ul.hull-references  {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 12px -12px -12px;
    padding: 0 12px;
}


li.block-item, .add-block, li.hull-reference {
    background-color: var(--secondary-color__accent);
    margin: 0 -12px;
    padding: 4px 0;
    display: flex;
}

li.block-item, li.hull-reference {
    border-left-width: 0;
    border-left-style: solid;
}

li.block-item .block-info-wrapper, li.hull-reference .hull-info-wrapper {
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
}
li.block-item:hover .block-info-wrapper {
    width: calc(100% - 28px);
}

li.block-item:hover, li.hull-reference:hover {
    border-left-width: 6px;
}

li.hull-reference {
    border-color: var(--on-primary-color__accent);
}

li.block-item:hover .block-info-wrapper, li.hull-reference:hover .hull-info-wrapper {
    padding-left: 6px;
}

li.block-item:hover .block-actions {
    display: flex;

}

li.block-item p, li.hull-reference p {
    margin: 4px 0;
}

li.block-item p.block-uuid, li.hull-reference p.hull-path {
    font-size: 0.65em;
    color: var(--on-secondary-color__muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.block-item .block-actions {
    flex-direction: column;
    width: 28px;
    display: none;
    justify-content: space-evenly;
}

li.block-item .block-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

li.block-item .block-action:first-child {
    border-top-right-radius: 8px;
}

li.block-item .block-action:last-child {
    border-bottom-right-radius: 8px;
}

li.block-item .focus-block {
    color: var(--primary-color);
}

li.block-item .focus-block:hover {
    color: var(--primary-color__accent);
}


li.block-item .delete-block {
    color: var(--on-secondary-color);
}



li.block-item .block-action svg {
    height: 16px;
}

li.block-item__selected, li.hull-reference__selected {
    border-left-width: 6px;
    border-left-style: solid;
}
li.block-item__selected .block-info-wrapper, li.hull-reference__selected .hull-info-wrapper {
    padding-left: 6px;
}

.add-block {
    background-color: var(--secondary-color__accent);
    box-shadow: none;
    padding: 20px 12px;
}

input.block-label {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color__contrast);
    background-color: transparent;
    color: var(--on-secondary-color);
}

.blocks-panel__focus {
    display: flex;
    flex-direction: column;
}

.blocks-panel__focus .focus-header {
    display: flex;
    align-items: center;
    height: 40px;
}
.blocks-panel__focus .focus-title {
    font-size: 0.9em;
    margin-bottom: 8px;
    font-style: italic;
}

.blocks-panel__focus .focus-sub-header {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--on-secondary-color__muted);
    font-size: 0.6em;

}

.blocks-panel__focus .focus-sub-header .focus-uuid {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blocks-panel__focus .focus-header .focus-back {
    color: var(--primary-color);
    padding: 4px;
    height: 100%;
    display: flex;
    align-items: center;
}
.blocks-panel__focus .focus-header .focus-back:hover {
    color: var(--primary-color__accent);
}

.blocks-panel__focus .focus-header .focus-back svg {
    height: 16px;
}

.blocks-panel__focus .focus-header .focus-label {
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

.blocks-panel__focus .focus-header .focus-label input.block-label {
    font-size: 1.05em;
}

.input-group {
    margin: 8px 0;
}

.input-group label {
    margin-bottom: 4px;
    display: inline-block;
    padding-left: 4px;
}

.hidden-input {
    display: none;
}

.partioning-panel {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.stacked-subpanel {
    flex: 1 1 auto;
}
.stacked-subpanel-header {
    padding: 12px;
    background-color: var(--secondary-color__accent);
    border-color: var(--secondary-color__contrast);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}
.stacked-subpanel + .stacked-subpanel .stacked-subpanel-header {
    border-top-width: 1px;
}

.stacked-subpanel-title {

}
.stacked-subpanel-content {
    padding: 12px;
}